.footer {

  background: white;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  display: block;
  box-sizing: border-box;
  width: 100%;
  z-index: 1030;
}

.label {
  color: rgb(90, 81, 81);
  text-transform: capitalize;
  text-align: center;

}