.container {
    padding: 20px;
}

.title {
    font-size: 20px;
    color: #004a98;
    font-weight: 600;
    margin-bottom: 15px;
}

.addButton, .addButton:hover,.addButton:focus{
    color: #fff;
    background-color: #004a98;
    border-color: #004a98;
} 
.searchInput {
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}