.experience-styles{
    color: #58718a;
    font-size: 14px;
    line-height: 26px;
    }
    .doctors-images{
        width: 300px;
        height: 400px;
        border-radius: 4px;
        box-shadow: none;
    }