.nextArrow {
  position: absolute;

  top: 50% !important;

  right: -5px !important;

  background-color: #e75204 !important;

  background: url(../../public/images/carousel-next.png) no-repeat center center;

  display: block;

  width: 25px;

  height: 25px;

  font-size: 0;

  padding: 0 0.3em !important;

  margin: 0;

  cursor: pointer;

  z-index: 1;

  border-radius: 50%;

  opacity: unset;
  transform: translateY(-50%);

  @media (min-width: 992px) {
    position: absolute;

    top: 50% !important;

    right: -6px !important;

    background-color: #e75204 !important;

    background: url(../../public/images/carousel-next.png) no-repeat center
      center;

    display: block;

    width: 25px;

    height: 25px;

    font-size: 0;

    padding: 0 0.3em !important;

    margin: 0;

    cursor: pointer;

    z-index: 1;

    border-radius: 50%;

    opacity: unset;
    transform: translateY(-50%);
  }
}

.prevArrow {
  position: absolute;

  left: -10px !important;

  top: 50% !important;

  background-color: #e75204 !important;

  background: url(../../public/images/carousel-prev.png) no-repeat center center;

  display: block;

  width: 25px;

  height: 25px;

  font-size: 0;

  padding: 0 0.3em !important;

  margin: 0;

  cursor: pointer;

  z-index: 1;

  border-radius: 50%;

  opacity: unset;

  transform: translateY(-50%);

  @media (min-width: 992px) {
    position: absolute;

    left: -6px !important;

    top: 50% !important;

    background-color: #e75204 !important;

    background: url(../../public/images/carousel-prev.png) no-repeat center
      center;

    display: block;

    width: 25px;

    height: 25px;

    font-size: 0;

    padding: 0 0.3em !important;

    margin: 0;

    cursor: pointer;

    z-index: 1;

    border-radius: 50%;

    opacity: unset;
    transform: translateY(-50%);
  }
}
