/* ScrollToTop.css */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #004a98;
    color: white;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 20px;
    cursor: pointer;
    display: none; /* Initially hidden */
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 100;
  }
  
  .scroll-to-top.show {
    display: flex;
  }
  