.accordion-body {
  display: block !important;
  visibility: visible !important;
}

.searchResults {
  background-color: #fff;
  font-weight: 500;
}

.searchResults:hover {
  scroll-behavior: smooth;
  max-height: 300px;
  scrollbar-width: none;
}

.searchResults .searchLabels {
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
  margin: 5px 0 5px 7px;
}

.searchResults .brandList,
.searchResults .categoryList,
.searchResults .productList {
  cursor: pointer;
}

.searchResults .brandList a,
.searchResults .categoryList a,
.searchResults .productList a {
  color: #444;
}

.searchResults .brandList {
  padding: 10px;
}

.searchResults .brandList .brandDetails {
  padding: 5px 0;
}

.searchResults .categoryList {
  padding: 10px;
}

.searchResults .productList .productDetails {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
}

.searchResults .productList .productDetails:hover {
  background-color: #eee;
}

.searchResults .productList .productDetails .productImg {
  padding-top: 12px;
}

.searchResults .productList .productDetails .productImg img {
  border: 1px solid #e8e8e8;
  width: 50px;
}

.searchResults .productList .productDetails .productInfo {
  display: flex;
}

.searchResults .productList .productDetails .productInfo .productName {
  flex-grow: 1;
  padding: 27px 7px;
  margin-right: 20px;
  width: 410px;
}

.searchResults
  .productList
  .productDetails
  .productInfo
  .productPriceSection
  .productMrp {
  text-decoration: line-through;
}

.cartItemBadge {
  position: relative;
}

.cartItemBadge .cartItemBadgeCount {
  position: absolute;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  background-color: #e75204;
  top: -5px;
  right: 0;
  padding: 2px 4px;
  border-radius: 50px;
  z-index: 1;
}

.userDropdown {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.userDropdown .userDropdownBtn button {
  font-size: 16px !important;
  border: 0 !important;
  box-shadow: none !important;
  color: #627284 !important;
  background-color: transparent !important;
  outline: none !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav #sidebar {
  height: 90px !important;
  font-weight: 700;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  padding-top: 250px;
}

h1 {
  padding: 15px;
  font-size: 75px;
  text-shadow: 2px 3px white;
}

.btn-warning {
  margin-top: 15px;
  padding: 10px 25px;
  border-radius: 0 !important;
  border: none;
}

.right_slide.modal-slider {
  width: 400px;
  right: -586px;
  transition: right 0.3s ease-in-out;
}

.right_slide.modal-slider.show {
  right: 0;
}

.right_slide.modal.show .modal-dialog {
  margin-top: 0;
}

.right_slide.modal.show .modal-dialog,
.right_slide.modal-content {
  height: 100%;
}

.login_sectionone {
  max-width: 640px;
  background: #fff;
  overflow: hidden;
}

#email-phone.form-control {
  color: #8b959f;
  font: normal 400 12px/26px Rubik-regular;
  max-width: 440px;
  min-height: 55px;
  padding-left: 23px;
  margin-bottom: 1rem;
}

.main_btns {
  background: #e75204;
  border: 1px solid #e75204;
  padding: 8px 25px;
  max-width: 440px;
  margin-bottom: 23px;
  color: #fff;
  font: normal 400 14px/26px Rubik-regular;
}
