@tailwind base;
@tailwind components;
@tailwind utilities;

/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav #sidebar {
  height: 90px !important;
  font-weight: 700;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  padding-top: 250px;
}
h1 {
  padding: 15px;
  font-size: 75px;
  text-shadow: 2px 3px white;
}
.btn-warning {
  margin-top: 15px;
  padding: 10px 25px;
  border-radius: 0 !important;
  border: none;
}
/* #formm{
  padding-top: 150px;
  } */
.right_slide.modal-slider {
  width: 400px;
  right: -586px;
  transition: right 0.3s ease-in-out;
}

.right_slide.modal-slider.show {
  right: 0;
}
.right_slide.modal.show .modal-dialog {
  margin-top: 0;
}
.right_slide.modal.show .modal-dialog,
.right_slide.modal-content {
  height: 100%;
}
.login_sectionone {
  max-width: 640px;
  background: #fff;
  /* min-height: 540px; */
  /* width: 100%; */
  /* box-shadow: 0px 0 10px -8px #000; */
  /* margin: 0px; */
  /* padding: 0; */
  /* border-radius: 10px; */
  overflow: hidden;
}

#email-phone.form-control {
  color: #8b959f;

  font: normal 400 12px/26px Rubik-regular;

  max-width: 440px;

  min-height: 55px;

  padding-left: 23px;

  margin-bottom: 1rem;
}
.main_btns {
  max-width: 105px;
  background: #e75204;
  border: 1px solid #e75204;
  padding: 8px 25px;
  max-width: 440px;
  margin-bottom: 23px;
  color: #fff;
  font: normal 400 14px/26px Rubik-regular;
}

/* */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin: 0;
  text-align: justify;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.cursor-pointer {
  cursor: pointer !important;
  user-select: none;
}

.error-text {
  color: #f24d4d;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.dynamic-content ul {
  list-style-type: disc;
}
